<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921955398897-uor45dk5taico7qfn45heeceiitvselm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921955398897-uor45dk5taico7qfn45heeceiitvselm</string>
	<key>API_KEY</key>
	<string>AIzaSyASsFjw_jAUa2_lni4TlnW1yZaVhJlvDas</string>
	<key>GCM_SENDER_ID</key>
	<string>921955398897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vasapol.Japan-Project</string>
	<key>PROJECT_ID</key>
	<string>rise-c9522</string>
	<key>STORAGE_BUCKET</key>
	<string>rise-c9522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921955398897:ios:ef723581f73bfed2c86550</string>
</dict>
</plist>